body{
    background-image: linear-gradient(to right,#23a6c4, #1be5d1)
}
#clock{
    position: relative;
    margin: auto;
    height: 200px;
    width: 200px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour{
    position: relative;
    background-color:black;
    height: 60px;
    width: 5px;
    top: 40px;
    left: 97px;
    transform-origin: bottom;
    border-radius: 10px;
}
#minute{
    position: relative;
    background-color: red;
    height: 70px;
    top: -30px;
    width: 3px;
    left: 98px;
    transform-origin: bottom;
    border-radius: 10px;
}
#second{
    position: relative;
    background-color: red;
    height: 85px;
    top: -115px;
    width: 2px;
    left: 99px;
    transform-origin: bottom;
    border-radius: 10px;
}
